<div class="form-container">
  <form class="container">
    <div class="left">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" />
        </div>
        <div class="col-md-6">
          <label for="cognome" class="form-label">Cognome</label>
          <input type="text" class="form-control" id="cognome" />
        </div>
        <div class="col-md-4">
          <label for="businessUnit" class="form-label">Business Unit</label>
          <select id="businessUnit" class="form-select">
            <option selected></option>
            <option>DESIGN</option>
            <option>ICT</option>
            <option>INGEGNERIA</option>
            <option>SIEE</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="businessUnit" class="form-label">Cliente</label>
          <select id="businessUnit" class="form-select">
            <option selected></option>
            <option>Ferrari</option>
            <option>Audi</option>
            <option>Generali Mutua</option>
            <option>Ital Design</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="dataAssunzione" class="form-label">Data assunzione</label>
          <input type="date" class="form-control" id="dataAssunzione" />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="col-md-6">
          <label for="codiceFiscale" class="form-label">Codice Fiscale</label>
          <input type="text" class="form-control" id="codiceFiscale" />
        </div>
        <div class="col-md-12">
          <label for="dataAssunzione" class="form-label">Data Nascita</label>
          <input type="date" class="form-control" id="dataAssunzione" />
        </div>
      </form>
    </div>
    <div class="right">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Numero mensilità CCNL</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Numero mensilità stabilità e rimborsi</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Incremento annuo stipendi</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Retribuzione lorda mensile</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >INPS (in % retr.ne lorda media)</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >INAIL (in % retr.ne lorda media)</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >TFR / Fondo (in % retr.ne lorda media)</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Delta costo industriale</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-danger mt-4">Invia</button>
  </form>
</div>
