<div class="form-container">
  <form class="container" (ngSubmit)="aggiungiDipendente()">
    <div class="left">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            [(ngModel)]="newDipendente.nome"
            name="nome"
          />
        </div>
        <div class="col-md-6">
          <label for="cognome" class="form-label">Cognome</label>
          <input
            type="text"
            class="form-control"
            id="cognome"
            [(ngModel)]="newDipendente.cognome"
            name="cognome"
          />
        </div>
        <div class="col-md-4">
          <label for="businessUnit" class="form-label">Business Unit</label>
          <select
            id="businessUnit"
            class="form-select"
            [(ngModel)]="newDipendente.bu_id"
            name="businessUnit"
          >
            <option *ngFor="let unit of businessUnits" [value]="unit.id">
              {{ unit.nome }}
            </option>
          </select>
        </div>

        <!-- <div class="col-md-4">
          <label for="cliente" class="form-label">Cliente</label>
          <select
            id="cliente"
            class="form-select"
            [(ngModel)]="newDipendente.cliente"
            name="cliente"
          >
            <option selected></option>
            <option>Ferrari</option>
            <option>Audi</option>
            <option>Generali Mutua</option>
            <option>Ital Design</option>
          </select>
        </div> -->
        <div class="col-md-4">
          <label for="dataAssunzione" class="form-label">Data assunzione</label>
          <input
            type="date"
            class="form-control"
            id="dataAssunzione"
            [(ngModel)]="newDipendente.dataAssunzione"
            name="dataAssunzione"
          />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="newDipendente.email"
            name="email"
          />
        </div>
        <div class="col-md-6">
          <label for="codiceFiscale" class="form-label">Codice Fiscale</label>
          <input
            type="text"
            class="form-control"
            id="codiceFiscale"
            [(ngModel)]="newDipendente.codiceFiscale"
            name="codiceFiscale"
          />
        </div>
        <div class="col-md-12">
          <label for="dataNascita" class="form-label">Data Nascita</label>
          <input
            type="date"
            class="form-control"
            id="dataNascita"
            [(ngModel)]="newDipendente.dataInserimento"
            name="dataNascita"
          />
        </div>
      </form>
    </div>
    <button type="submit" class="btn btn-danger mt-4">Invia</button>
  </form>
</div>
