<div class="container">
  <form (ngSubmit)="aggiungiDipendente()">
    <div class="row">
      <div class="col-6">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          [(ngModel)]="newDipendente.nome"
          name="nome"
        />
      </div>
      <div class="col-6">
        <label for="cognome">Cognome</label>
        <input
          type="text"
          class="form-control"
          id="cognome"
          [(ngModel)]="newDipendente.cognome"
          name="cognome"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="newDipendente.email"
          name="email"
        />
      </div>
      <div class="col-6">
        <label for="numeroTelefono">Telefono</label>
        <input
          type="tel"
          class="form-control"
          id="numeroTelefono"
          [(ngModel)]="newDipendente.numeroTelefono"
          name="numeroTelefono"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="businessUnit">Business Unit</label>
        <select
          class="form-select"
          id="businessUnit"
          [(ngModel)]="newDipendente.bu_id"
          name="businessUnit"
        >
          <option selected></option>
          <option value="1">ICT</option>
          <option value="2">SIEE</option>
          <option value="3">INGEGNERIA</option>
          <option value="4">DESIGN</option>
          <option value="5">STAFF</option>
        </select>
      </div>

      <div class="col-6">
        <label for="contratto">Contratto</label>
        <select
          class="form-select"
          id="contratto"
          [(ngModel)]="newDipendente.contratto"
          name="contratto"
        >
          <option selected></option>
          <option value="1">Tirocinante</option>
          <option value="2">Apprendista</option>
          <option value="3">Determinato</option>
          <option value="4">Indeterminato</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="codiceFiscale">Codice Fiscale</label>
        <input
          type="text"
          class="form-control"
          id="codiceFiscale"
          [(ngModel)]="newDipendente.codiceFiscale"
          name="codiceFiscale"
        />
      </div>
      <div class="col-6">
        <label for="dataAssunzione">Data assunzione</label>
        <input
          type="date"
          class="form-control"
          id="dataAssunzione"
          [(ngModel)]="newDipendente.dataAssunzione"
          name="dataAssunzione"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-3 mx-auto mt-3">
        <button type="submit" class="btn btn-success">Invia</button>
      </div>
    </div>
  </form>
</div>
