<h3 class="grey-text" *ngIf="dipendenti && dipendenti.length > 0">
  Lista Dipendenti
  <span *ngIf="dipendenti[0].businessUnit">{{
    dipendenti[0].businessUnit.nome
  }}</span>
</h3>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th class="hide-on-mobile" scope="col">Business Unit</th>
      <th scope="col" class="text-center hide-on-mobile">Cessato</th>
      <th scope="col">
        <button
          class="btn btn-danger btn-delete"
          *ngIf="!isButtonHidden"
          (click)="toggleCessatoDisplay(); isButtonHidden = !isButtonHidden"
        >
          <img src="/assets/svg-icons/trash-icon.svg" alt="menu" />Cessati
        </button>
      </th>
      <th scope="col">
        <img
          style="cursor: pointer"
          src="/assets/svg-icons/back-icon.svg"
          alt="back"
          *ngIf="isButtonHidden"
          (click)="
            toggleCessatoDisplay();
            isButtonHidden = !isButtonHidden;
            isButtonDisabled = !isButtonDisabled
          "
        />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dipendente of dipendenti">
      <td></td>
      <td>{{ dipendente.nome }}</td>
      <td>{{ dipendente.cognome }}</td>
      <td class="hide-on-mobile">{{ dipendente.businessUnit.nome }}</td>
      <td class="email hide-on-mobile">{{ dipendente.isCessato }}</td>
      <td>
        <button class="btn btn-info me-4" (click)="getDipById(dipendente.id)">
          <img src="/assets/svg-icons/info-icon.svg" alt="menu" />Info
        </button>
      </td>
      <td>
        <button
          class="btn btn-danger"
          *ngIf="!isButtonHidden"
          (click)="cestinaDipendente(dipendente)"
        >
          Elimina
        </button>
        <button
          class="btn btn-success"
          *ngIf="isButtonHidden"
          (click)="cestinaDipendente(dipendente)"
        >
          Reintegra
        </button>
      </td>
    </tr>
  </tbody>
</table>
