<h3 class="grey-title">Lista Dipendenti</h3>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col" class="text-center">Business Unit</th>
      <th class="hide-on-mobile" scope="col">Data Assunzione</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dipendente of dipendenti">
      <td></td>
      <td>{{ dipendente.nome }}</td>
      <td>{{ dipendente.cognome }}</td>
      <td class="text-center">{{ dipendente.businessUnit.nome }}</td>
      <td class="hide-on-mobile">{{ dipendente.dataAssunzione }}</td>
      <td>
        <button
          class="btn btn-primary me-4"
          (click)="getDipById(dipendente.id)"
        >
          Info
        </button>
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="deleteDipendente(dipendente.id)"
        >
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
