p {
  font-size: clamp(8px, 3.15vw, 18px);
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}

.row {
  row-gap: 32px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 16em;
  margin-left: 50%;
  transform: translate(-50%);
}

.card {
  border-radius: 30px;
}

.container {
  align-items: center;
}

.card-body {
  text-align: center;
}

.card-body h5 {
  margin: 0;
}

.btn {
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 8px 16px;
}

.btn:hover {
  color: var(--white);
  background-color: var(--primary);
}

.card-info {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 5px;
  text-align: left;
}

.card-info p {
  border: 2px solid var(--black);
  border-radius: 8px;
  padding: 3px 6px;
  margin: 0;
}

@media (min-width: 576px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .card {
    width: 20em;
  }
}

@media (min-width: 1000px) {
  .card {
    width: 21em;
  }
}

@media (min-width: 1600px) {
  .card {
    width: 30em;
  }
  img.card-img-top {
    height: 264.11px;
  }
}
