<div class="container col-md-12 col-xl-10">
  <div class="row">
    <!-- Creo un *ngFor per rendere il codice html molto più pulito oltre a renderlo dinamico. -->
    <div *ngFor="let businessUnit of businessUnits" class="col-sm-6 col-lg-5">
      <div class="card">
        <!-- Property binding per dare i dati necessari al tag img. -->
        <img
          [src]="businessUnit.image"
          class="card-img-top"
          [alt]="businessUnit.alt"
        />
        <div class="card-body">
          <!-- onClick per prendere i dipendenti in base alla loro buID. il parametro viene passato dal component. Controllare il file .ts. -->
          <a (click)="onBusinessClicked(businessUnit.id)" class="btn">
            <h5 class="card-title">{{ businessUnit.name }}</h5>
          </a>
          <div class="card-info">
            <p>Utile mensile: {{ businessUnit.utileMensile }}</p>
            <p>Margine: {{ businessUnit.margine }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
