<div class="container-fluid">
  <h3>Business Unit</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/design.png" class="card-img-top" alt="design" />
        <div class="card-body">
          <a class="btn btn-primary">
            <h5 class="card-title">DESIGN</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/ict.png" class="card-img-top" alt="ict" />
        <div class="card-body">
          <a class="btn btn-success">
            <h5 class="card-title">ICT</h5>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img
          src="/assets/img/ingegneria.png"
          class="card-img-top"
          alt="ingegneria"
        />
        <div class="card-body">
          <a class="btn btn-danger">
            <h5 class="card-title">INGEGNERIA</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/siee.png" class="card-img-top" alt="siee" />
        <div class="card-body">
          <a class="btn btn-primary">
            <h5 class="card-title">SIEE</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
