p {
  font-size: clamp(8px, 3.15vw, 18px);
}

.col-sm-6 {
  padding: 16px 40px;
}

.card-body {
  text-align: center;
}

.card-body h5 {
  margin: 0;
}

.btn {
  border: 2px solid var(--primary);
  border-radius: 30px;
  padding: 8px 16px;
}

.btn:hover {
  color: var(--white);
  background-color: var(--primary);
}

.card-info {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 5px;
  text-align: left;
}

.card-info p {
  border: 2px solid var(--black);
  border-radius: 8px;
  padding: 3px 6px;
  margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  p {
    font-size: 14px;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card img {
    width: calc(250px + 100px);
    height: 150px;
  }

  .col-sm-6 {
    padding: 2em 4em;
  }
}

/* XX-Large devices (larger desktops, 1400px and up)  */
@media (min-width: 1600px) {
  .card img {
    width: calc(250px + 10vw);
    height: calc(150px + 7vh);
  }
}
