<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/design.png" class="card-img-top" alt="design" />
        <div class="card-body">
          <a (click)="onBusinessClicked(1)" class="btn">
            <h5 class="card-title">DESIGN</h5>
          </a>
          <div class="card-info">
            <p>Utile mensile:</p>
            <p>Margine:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/ict.png" class="card-img-top" alt="ict" />
        <div class="card-body">
          <a (click)="onBusinessClicked(2)" class="btn">
            <h5 class="card-title">ICT</h5>
          </a>
          <div class="card-info">
            <p>Utile mensile:</p>
            <p>Margine:</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img
          src="/assets/img/ingegneria.png"
          class="card-img-top"
          alt="ingegneria"
        />
        <div class="card-body">
          <a (click)="onBusinessClicked(3)" class="btn">
            <h5 class="card-title">INGEGNERIA</h5>
          </a>
        </div>
        <div class="card-info">
          <p>Utile mensile:</p>
          <p>Margine:</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card d-inline-block">
        <img src="/assets/img/siee.png" class="card-img-top" alt="siee" />
        <div class="card-body">
          <a (click)="onBusinessClicked(4)" class="btn">
            <h5 class="card-title">SIEE</h5>
          </a>
        </div>
        <div class="card-info">
          <p>Utile mensile:</p>
          <p>Margine:</p>
        </div>
      </div>
    </div>
  </div>
</div>
