.dashboard-container {
  height: 100%;
}

.navbar-container {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  width: 250px;
  padding: 1em;
  margin: 0;
}

.navbar button {
  position: absolute;
  width: 40px;
  top: 1.5em;
  right: 1.5em;
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
}

.navbar button img {
  width: inherit;
}

.navbar-nav {
  width: 100%;
}
.navbar-nav a {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary);
  cursor: pointer;
}

.active {
  background-color: var(--light-primary) !important;
}

.content-container {
  width: 100%;
}

.aggiungi-dipendente-btn {
  margin: 1em 0;
}

@media (min-width: 768px) {
  .dashboard-container {
    display: flex;
  }

  .navbar-container {
    height: 100vh;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar button {
    display: none;
  }

  .navbar a:hover {
    background-color: var(--light-primary);
  }

  .aggiungi-dipendente-btn {
    position: absolute;
    bottom: 1.2em;
    margin-right: 50%;
    transform: translateX(-50%);
    width: 180px;
  }
}
