<div class="dashboard-container">
  <div class="navbar-container">
    <nav class="navbar">
      <img src="/assets/img/logo.png" alt="" />
      <button><img src="/assets/svg-icons/hamburger-menu.svg" alt="" /></button>
      <ul class="navbar-nav">
        <a class="nav-link">DASHBOARD</a>
        <a class="nav-link">DIPENDENTI</a>
        <a class="nav-link">CLIENTI</a>
      </ul>
    </nav>
  </div>
  <div class="content-container">
    <h2>Content here</h2>
    <app-business-unit></app-business-unit>
  </div>
</div>
