<div class="dashboard-container">
  <div class="navbar-container bg-body-tertiary">
    <nav class="navbar">
      <img
        src="/assets/img/logo.png"
        alt="logo"
        class="navbar-brand"
        routerLink="/"
        style="cursor: pointer"
      />
      <!-- Binding dell'evento (click) a un metodo nel componente -->
      <button *ngIf="!isLargeScreen" (click)="showMenu()">
        <img src="/assets/svg-icons/hamburger-menu.svg" alt="menu" />
      </button>
      <!-- Uso ngIf per dare una condizione basata sulla propietà del componente.
      Se è true verra mostrato, se false no -->
      <ul *ngIf="isMenuShowed || isLargeScreen" class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >BUSINESS UNIT</a
        >
        <a class="nav-link">STAFF</a>
      </ul>
    </nav>
    <button
      routerLink="aggiungiDip"
      class="btn btn-success aggiungi-dipendente-btn"
    >
      Aggiungi Dipendente
    </button>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
