* {
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #c80000;
  --light-primary: #ca3c3c;
}

img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
