* {
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #c80000;
  --light-primary: #ca3c3c;
  --grey: #7e8080;
}

img {
  max-width: 100%;
}

.text-align {
  text-align: center;
}

.grey-text {
  color: var(--grey);
  color: #7e8080;
  font-weight: 500;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
